<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../resources/css/dashboard.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a class="hamburger item hamburger-active"><i class="fa-solid fa-bars fa-lg"></i></a>
        <a class="title" href="../views/dashboard.html"><img src="../resources/img/brand-logo.png" alt=""></a>
        <div class="navbar-item">
            <a class="item link" href="../views/index.html">Home</a>
            <a class="item link">Genre</a>
            <a class="item link">Trending</a>
            <a class="item link">TV Shows</a>
            <a class="item link">Anime</a>
        </div>
        <div class="navbar-item">
            <form class="search" action="">
                <input class="search-item" type="text" name="" id="" placeholder="Search Here..."><input
                    class="search-item fa-solid" type="submit" value="&#xf002">
            </form>
        </div>
    </nav>

    <!-- dashboard -->
    <main>
        <div>
            <h1>Most Liked</h1>
            <div class="row">
                <div class="movie">
                    <a href="../views/movie.html"><img src="../resources/img/movies/avengers.jpeg" alt=""></a>
                    <a href="" class="movie-title">The Avenger's</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/aladin.jpeg" alt=""></a>
                    <a href="" class="movie-title">Aladin</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/barbie.webp" alt=""></a>
                    <a href="" class="movie-title">Barbie</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/endgame.jpg" alt=""></a>
                    <a href="" class="movie-title">Avenger's Endgame</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/gog2.jpg" alt=""></a>
                    <a href="" class="movie-title">Guardian's of Galaxy Vol 2.</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/inception.jpg" alt=""></a>
                    <a href="" class="movie-title">Inception</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/gold.webp" alt=""></a>
                    <a href="" class="movie-title">Gold</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/iron-man3.jpg" alt=""></a>
                    <a href="" class="movie-title">Iron Man 3</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/joker.jpg" alt=""></a>
                    <a href="" class="movie-title">Joker</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/lagan.jpg" alt=""></a>
                    <a href="" class="movie-title">Lagan</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/matrix.webp" alt=""></a>
                    <a href="" class="movie-title">Matrix</a>
                </div>
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/titanic.jpg" alt=""></a>
                    <a href="" class="movie-title">Titanic</a>
                </div>
            </div>
        </div>

        <div>
            <h1>New Arrival</h1>
            <div class="row">
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/john-wick.jpg" alt=""></a>
                    <a href="" class="movie-title">John Wick</a>
                </div>

            </div>
        </div>

        <div>
            <h1>Movie to Watch</h1>
            <div class="row">
                <div class="movie">
                    <a href=""><img src="../resources/img/movies/ant-man.jpg" alt=""></a>
                    <a href="" class="movie-title">Ant-Man</a>
                </div>

            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="social-links">
            <a class="link"><i class="fa-regular fa-envelope fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <p>©XYZ Company | All Rights Reserved.</p>
    </footer>
</body>

</html>