<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a class="hamburger item hamburger-active"><i class="fa-solid fa-bars fa-lg"></i></a>
        <a class="title hamburger" href="#">title</a>
        <div class="navbar-item hamburger-on">
            <a href="/" class="item link">Home</a>
            <a class="item link">Genre</a>
            <a class="item link">TV Shows</a>
            <a class="item link">Anime</a>
        </div>
    </nav>

    <!-- Welcome page main section -->
    <section>
        <div class="wrapper">
            <div class="poster-row">
                <% images.forEach(image => { %>
                 <img class="poster" src="<%= image.src %>" alt="<%= image.title %>"></img>
                <% }) %>
            </div>
            <div class="header">
                <a href="/api/dashboard"><img class="logo-img" src="/img/brand-logo.png" alt=""></a>
                <form method="GET" action="/api/search" class="search-form">
                    <input type="text" name="query" id="" placeholder="Search here..."><button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="info">Welcome to Home Cinema, here you can explore all latest movies, animes, tv shows and can watch it which are actually free on internet. No pirated content here!!!...</div>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="social-links">
            <a class="link"><i class="fa-regular fa-envelope fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <p>©XYZ Company | All Rights Reserved.</p>
    </footer>
</body>

</html>