<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Font-Awesome Icons CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/upload.css">

    <!-- data-table css -->
    <link rel="stylesheet" href="/css/jquery.datatable.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs')  %>

    <main>
        <h1 style="padding:0 10% 0; font-size: 1.6rem; text-shadow: 0 0 10px rgba(0,0,0,0.9);">Manage Movie</h1>
        <div class="upload-section">
            <div class="col-8">
                <div class="col-child">
                    <h1>Search based on tmdb id or movie name :</h1>
                    <form class="search-upload" action="#" name="search-form">
                        <input class="search-upload-input" type="text" name="query" placeholder="Search Here...">
                        <input class="btn fa-solid" type="submit" value="&#xf002">
                    </form>
                    <div class="search-row">
                        Search to get results...
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="delete-prompt" style="width:fit-content;">
        <div class="prompt-main">
            <div class="prompt-head">
                <h4>Are you sure you want to delete ?</h4>
            </div>
            <div class="prompt-body">
                <button class="btn" style="background-color: #FF8080; color: white;" id="delete-item-btn" onclick="removeItemFromBucket(this);">Delete</button>
                <button class="btn-rev" id="close-prompt">Cancel</button>
            </div>
        </div>
    </div>

    <div class="shadow"></div>
    <!-- Footer -->
    <footer>
        <div class="social-links">
            <a class="link"><i class="fa-regular fa-envelope fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-instagram fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a class="link"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <p>©XYZ Company | All Rights Reserved.</p>
    </footer>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/movie-upload.js"></script>
    <script src="/js/navbar.js"></script>
    <script>
        const deletePrompt=document.querySelector('.delete-prompt');
        const closeDelPrompt=document.querySelector('#close-prompt');
        const shadow=document.querySelector('.shadow');
        function openDeletePrompt(ele){
            deletePrompt.classList.add('show');
            shadow.classList.add('show');
        } 
        function closePrompt(){
            deletePrompt.classList.remove('show');
            shadow.classList.remove('show');
        }
        closeDelPrompt.addEventListener('click',closePrompt);
    </script>
    <script src="/js/jquery.datatable.min.js"></script>
</body>

</html>