main{
    padding-top: 100px;
    margin:0 5%;
}
h1{
    color:#ECE3CE;
    text-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.bucket{
    display: flex;
    flex-direction: column;
}
.bucket-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ECE3CE;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.bucket a{
    /* text-decoration: underline; */
    color: rgba(0,0,0,0.7);
}
.bucket a:hover{
    color:rgba(0,0,0,0.9);
}
.bucket-body{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.flex-horizontal-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* movie poster and title styling */
.movie{
    margin: 1.5% 0.7rem;
    display: flex;
    flex-direction: column;
    color:#ECE3CE;
    border: 3px solid #3A4D39;
    border-radius: 0.2rem;
    background: #4F6F52;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.9);
    transition: all 0.5s;
}
.movie:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.9) ;
}
.movie img{
    width:160px;
    height: 200px;
}
.movie .movie-title{
    width: 160px;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    color:#ECE3CE;
    text-align: center;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
