h2{
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin: 5px 0;
}
.movie{
    background: #ECE3CE;
    color:#3A4D39;
    padding: 1rem;
    display: flex;
}


.movie .poster{
    width: 200px;
}

.movie .col{
    flex:1;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* justify-content: space-between; */
}



