h2{
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin: 5px 0;
}
.movie{
    background: #ECE3CE;
    color:#3A4D39;
    padding: 2rem;
    display: flex;
    flex:1;
}

.movie .object iframe{
    height: 100%;
    width: 100%;
}
.movie .poster{
    width: 200px;
}
.movie-mobile .poster{
    width: 200px;
}

.poster-div{
    border: 5px solid rgba(0,0,0,0.4);
}
.poster-div img{
    height: 100%;
}

.movie .col{
    flex:1;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* justify-content: space-between; */
}
.movie-mobile{
    display: none;
    background: #ECE3CE;
    color:#3A4D39;
    padding: 2rem 0;
    flex:1;
}
.movie-mobile .row{
    display: flex;
    justify-content: space-between;
}

.movie .col-3{
    width: 75%;
    flex:1;
}
/* 
.movie.mobile-movie .col-3{
    width: 100%;
    flex:1;
} */

/* video player section */

.object{
    height: 500px;
}
.side-video{
    width:25%;
    margin-left:1.5rem;
    padding:0 2rem;
}

.extras{
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    border-radius: 1rem;
}

.extras .extras-head{
    font-weight: bold;
    font-size: larger;
    padding: 3%;
}

.extras:first-child{
    margin-bottom:10%;
}


.youtube-ul{
    padding: 0;
    margin: 0;
    height:auto;
    overflow-y:none;
}

.youtube-li{
    border-bottom: 1px solid #3A4D39;
    background-color: #D6C7AE;
    padding: 3%;
    text-align: start;
    cursor: pointer;
    line-height: 1.5;
}
.video-list{
    max-height: 300px;
    overflow-y: auto;
    z-index: 2;
}
.youtube-li:first-child{
    border-top:1px solid #3A4D39;
}

.youtube-li:last-child{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.youtube-li:hover{
    background-color:#B3A492;
}
.selected{
    background-color:#B3A492;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

@media only screen and (max-width:600px){
    main{
        padding-top: 92px;;
    }
    .object iframe{
        height: 200px !important;
        width: 100%;
    }
    .movie{
        flex-direction: column;
        align-items: center;
    }
    .movie .col-3{
        width: 100%;
    }
    .mobile-movie{
        height: auto;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .poster-div{
        width: fit-content;
    }
    .poster-div img{
        flex:1;
    }
    .side-video{
        width: 80%;
        padding: 0;
        padding-top: 1rem;
        margin: 0;
    
    }
    .movie .col{
        margin-top: 5%;
    }
    .desktop{
        display: none;
    }
    .movie-mobile{
        display: flex;
        flex-direction: column;
    }
    
}

