/* tags css */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #739072;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    padding-top: 80px;
    flex:1;
    transition: all 0.7s;
}
section {
    
    text-align: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
footer {
    text-align: center;
    background: #4F6F52;
    color: #ECE3CE;
    padding-top: 3rem;
}

/* //select element custom css */
.select{
    flex:1;
    width:100%;
    background: #ECE3CE;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: normal;
    color:#3A4D39;
}
.select option {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 1rem !important;
}


/* Navbar */

.navbar {
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    justify-content: space-between;
    background: #3A4D39;
    padding: 1rem;
    border-bottom: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    flex-wrap: wrap;
    z-index: 999;
}

.navbar-item {
    display: flex;
    justify-content: space-between;
}

.navbar-item-mobile{
    display: none;
}
.navbar-item-m{
    display: none;
}

.navbar-item .link {
    text-decoration: none;
}

.item {
    margin: auto 0.6rem;
    color: #ECE3CE;
    cursor: pointer;
    text-decoration: none;
}

.item:hover {
    color: #D6C7AE;
}
ul.item{
    padding: 0;
}

.item li{
    list-style: none;
}

/* side navbar */
.side-nav{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    display: flex;
    max-width: 10vw;
    flex-direction: column;
    background-color: #4F6F52;
    position: fixed;
    top:90px;
    height: 100%;
}
.side-item{
    /* background: #4F6F52; */
    padding:1.5rem;
    text-align: center;
    color:#ECE3CE;
    display: flex;
    /* border-bottom: 1px solid #3A4D39; */
}
.side-item.selected{
    background: #D6C7AE;
    color:#3A4D39;
}
.side-full{
    display: none;
    margin-left:8%;
}
.side-item:hover{
    cursor: pointer;
    color:#B0A695;
}
.side-item.selected:hover{
    color:#4F6F52;
}
.left{
    display: none;
}
.trending{
    margin-left: 7vw; 
}
.trending.hidden{
    position: absolute;
    z-index: -999;
    opacity: 0;
}

/* navbar user dropdown */
.dropdown{
    position: relative;
}
.dropdown .dropdown-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    right:0;
    width: max-content;
    background: #ECE3CE;
    z-index: -1;
    opacity:0;
    transition: all 0.7s;
    border-radius: 1rem;
}
.dropdown-content a{
    padding: 0.5rem;
    width: 100%;
    flex:1;
    text-decoration: none;
    color:#4F6F52;
    text-align: right;
}
.dropdown-content a:first-child{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.dropdown-content a:last-child{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.dropdown-content a:hover{
    background: #D6C7AE;
    color: #3A4D39;
}

.dropdown-content.active{
    z-index: 1;
    opacity: 1;
}
.dropdown .btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon{
    width: 1.5rem;
    background: transparent;
}


/* navbar item dropdown  */
.genre-link{
    position: relative;
    padding: 5%;
}
.genre-link ul{
    padding: 0;;
}
.dropdown-genre{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    padding: 5%;
    transition: all 0.5s;
    will-change: opacity;
    background: #4F6F52;
    display: none;
    border-radius: 1rem;
    transform: translateX(-40%);
}

.trigger-enter .dropdown-genre {
    display: flex;
    opacity: 1;
}
.genre-item{
    flex:1;
    z-index: 1;
}
.genre-item li{
    margin: 5% auto;
}
.genre-item span{
    border-bottom: 1px solid #D6C7AE;
}
.arrow {
    position: absolute;
    /* z-index: -1; */
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    left:50%;
    top:-5%;
    transform: rotate(45deg);
}

/* logo */

.title img {
    width: 100px;
}

/* Search form */
.search {
    background: #ECE3CE;
    border-radius: 0.2rem;
    margin: 0.4rem auto;
    display: flex;
}

.search input[type=submit] {
    font-family: "Font Awesome 5 Free";
    border: none;
    font-size: 1.2rem;
    padding-right: 0.8rem;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
}

.search input[type=text] {
    outline:none;
    border: none;
    color: #3A4D39;
    padding: 0.8rem;
    background: transparent;
}

.search input[type=text]::placeholder {
    border: none;
}

/* Website themed button css */

.btn {
    background-color: #ECE3CE;
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: #3A4D39;
    cursor: pointer;
    color: #3A4D39;
}
.btn-rev{
    background-color: #739072;
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: #3A4D39;
    cursor: pointer;
    color: #ECE3CE;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #D6C7AE;
}
.btn-rev:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #4F6F52;
}

.btn.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
.btn-rev.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
.btn.disabled:hover {
    background-color: #ECE3CE;
    box-shadow: none;
}
.btn-rev.disabled:hover {
    background-color: #739072;
    box-shadow: none;
}

/* pagination section */

.pages {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
}

.pages .page-info {
    color: #ECE3CE;
    padding: 5px;
}


/* hamburger menu */

.hamburger {
    cursor: pointer;
    display: none;
}



/* //custom scrollbar */
.scrollbar::-webkit-scrollbar{
    
    width: 10px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.scrollbar::-webkit-scrollbar-track{
    cursor: pointer;
}
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    cursor:pointer;
    background: #B0A695;
}
.scrollbar::-webkit-scrollbar-thumb:active{
    background: #776B5D;
}
.scrollbar::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

/* //scrollbar hide */
.hidden-scrollbar::-webkit-scrollbar{
    display: none;
}
.hidden-scrollbar::-webkit-scrollbar-track{
   display: none;
}
.hidden-scrollbar::-webkit-scrollbar-thumb{
   display: none;
}

/* 
.link:hover{
    text-decoration: underline;
}
.link:active{
    text-decoration: underline;
} */


/* Footer classes */

.social-links .link {
    padding: 0.4rem;
    cursor: pointer;
}

.social-links .link:hover {
    color: #D6C7AE;
}


/* mobile css */
.mobile-ham{
    display: none;
}

/* add bucket */
.movie{
    position: relative;
}
.bucket-add{
    position: absolute;
    top:1.5%;
    right: 2.5%;
    font-size: large;
    color:#B0A695;
    transition: all 1;
}
.bucket-add:hover{
    transform: scale(1.2);
    color: #776B5D;
}
.bucket-add i{
    text-shadow:inset 0 0 25px rgba(0, 0, 0, 0.7);
}
.three-dots{
    border: none;
    border-bottom:7px dotted;
    max-width: 15%;
    margin:7% auto;
}

@media only screen and (max-width:600px) {
    .mobile-ham{
        display: flex;
        align-items: center;
        position: relative;
    }
    .hamburger{
        display: block;
    }
    .navbar-item,.navbar-search-item{
        display: none;
    }
    .navbar-item-mobile{
        display: none;
        flex-basis: 100%;
        justify-content: space-between;
    }
    .navbar-item-m{
        display: flex;
        flex-direction: column;
        line-height: 2;
    }
    #mobile-search{
        outline:none;
        display: none;
        position:absolute;
        top:100%;
        left:80%;
        transition: all 0.7s;
    }
    .dropdown-genre{
        transform: translateX(70px) translateY(-30px);
    }
    .side-nav{
        flex-direction: row;
        bottom:0;
        top:auto;
        min-width: 100vw;
        justify-content: space-evenly;
        height: max-content;
        z-index: 1000000;
    }
    .side-item{
        flex:1;
        display: flex;
        justify-content: center;
    }
    .open-side{
        display: none;
    }
    .side-full{
        display: flex;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    main{
        padding-top: 100px;
    }
    .trending{
        margin-left: 4% !important;
    }
}