/* tags css */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #739072;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section{
    text-align: center;
}

footer{
    text-align: center;
    background: #4F6F52;
    color:#ECE3CE;
    padding-top: 3rem;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    background: #3A4D39;
    padding: 1rem;
    border-bottom: rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
}

.navbar-item {
    display: flex;
    justify-content: space-between;
}

.navbar-item .link{
    text-decoration: none;
}

.item {
    margin: auto 0.6rem;
    color: #ECE3CE;
    cursor: pointer;
}
.item:hover{
    color:#D6C7AE;
}

/* logo */

.title img{
    width:50px;
    transform: translateX(2.2rem) scale(3.2) translateY(2px);
}

/* Search form */
.search{
    background: #ECE3CE;
    border-radius: 0.2rem;
    margin:1rem auto;
}
.search input[type=submit]{
    font-family:"Font Awesome 5 Free";
    border: none;
    font-size: 1.2rem;
    padding-right: 0.8rem;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
}
.search input[type=text]{
    border: none;
    color:#3A4D39;
    padding: 0.8rem;
    background:transparent;
}
.search input[type=text]::placeholder{
    border:none;
}

/* Website themed button css */

.btn {
    background-color: #ECE3CE;
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: #3A4D39;
    cursor: pointer;
    color: #3A4D39;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #D6C7AE;
} 
.btn.disabled{
    cursor: not-allowed;
    opacity: 0.7;
}
.btn.disabled:hover{
    background-color: #ECE3CE;
    box-shadow: none;
}

/* pagination section */

.pages{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
}

.pages .page-info{
    color:#ECE3CE;
    padding: 5px;
}


/* hamburger menu */

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger-active {
    outline: #ECE3CE solid 3px;
    outline-offset: 4px;
    border-radius: 2px;
}


/* Footer classes */

.social-links .link{
    padding: 0.4rem;
    cursor: pointer;
}
.social-links .link:hover{
    color:#D6C7AE;
}

/* @media only screen and (max-width:600px) {
    .navbar-item.hamburger-on {
        display: flex;
        flex-direction: column;
        margin-right: 60%;
    }

    .navbar-item .item {
        margin-top: 4px;
    }

    .search-area.hamburger-on {
        display: flex;
        flex-direction: row;

    }

    .hamburger {
        display: block;
    }
} */