/* tags css */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #739072;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    padding-top: 80px;
    flex:1;
}
section {
    
    text-align: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
footer {
    text-align: center;
    background: #4F6F52;
    color: #ECE3CE;
    padding-top: 3rem;
}

/* //select element custom css */
.select{
    flex:1;
    width:100%;
    background: #ECE3CE;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: normal;
    color:#3A4D39;
}
.select option {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 1rem !important;
}


/* Navbar */

.navbar {
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    justify-content: space-between;
    background: #3A4D39;
    padding: 1rem;
    border-bottom: rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
    z-index: 999;
}

.navbar-item {
    display: flex;
    justify-content: space-between;
}

.navbar-item-mobile{
    display: none;
}
.navbar-item-m{
    display: none;
}

.navbar-item .link {
    text-decoration: none;
}

.item {
    margin: auto 0.6rem;
    color: #ECE3CE;
    cursor: pointer;
    text-decoration: none;
}

.item:hover {
    color: #D6C7AE;
}
ul.item{
    padding: 0;
}

.item li{
    list-style: none;
}


/* navbar item dropdown  */
.genre-link{
    position: relative;
    padding: 5%;
}
.genre-link ul{
    padding: 0;;
}
.dropdown-genre{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    padding: 5%;
    transition: all 0.5s;
    will-change: opacity;
    background: #4F6F52;
    display: none;
    border-radius: 1rem;
    transform: translateX(-40%);
}

.trigger-enter .dropdown-genre {
    display: flex;
    opacity: 1;
}
.genre-item{
    flex:1;
    z-index: 1;
}
.genre-item li{
    margin: 5% auto;
}
.genre-item span{
    border-bottom: 1px solid #D6C7AE;
}
.arrow {
    position: absolute;
    /* z-index: -1; */
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    left:50%;
    top:-5%;
    transform: rotate(45deg);
}

/* logo */

.title img {
    width: 100px;
}

/* Search form */
.search {
    background: #ECE3CE;
    border-radius: 0.2rem;
    margin: 0.4rem auto;
    display: flex;
}

.search input[type=submit] {
    font-family: "Font Awesome 5 Free";
    border: none;
    font-size: 1.2rem;
    padding-right: 0.8rem;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
}

.search input[type=text] {
    border: none;
    color: #3A4D39;
    padding: 0.8rem;
    background: transparent;
}

.search input[type=text]::placeholder {
    border: none;
}

/* Website themed button css */

.btn {
    background-color: #ECE3CE;
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: #3A4D39;
    cursor: pointer;
    color: #3A4D39;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #D6C7AE;
}

.btn.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.btn.disabled:hover {
    background-color: #ECE3CE;
    box-shadow: none;
}

/* pagination section */

.pages {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
}

.pages .page-info {
    color: #ECE3CE;
    padding: 5px;
}


/* hamburger menu */

.hamburger {
    cursor: pointer;
    display: none;
}



/* //custom scrollbar */
.scrollbar::-webkit-scrollbar{
    
    width: 10px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.scrollbar::-webkit-scrollbar-track{
    cursor: pointer;
}
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    cursor:pointer;
    background: #B0A695;
}
.scrollbar::-webkit-scrollbar-thumb:active{
    background: #776B5D;
}
.scrollbar::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

/* //scrollbar hide */
.hidden-scrollbar::-webkit-scrollbar{
    display: none;
}
.hidden-scrollbar::-webkit-scrollbar-track{
   display: none;
}
.hidden-scrollbar::-webkit-scrollbar-thumb{
   display: none;
}



/* Footer classes */

.social-links .link {
    padding: 0.4rem;
    cursor: pointer;
}

.social-links .link:hover {
    color: #D6C7AE;
}

.mobile-ham{
    display: none;
}

@media only screen and (max-width:600px) {
    .mobile-ham{
        display: flex;
        align-items: center;
        position: relative;
    }
    .hamburger{
        display: block;
    }
    .navbar-item,.navbar-search-item{
        display: none;
    }
    .navbar-item-mobile{
        display: none;
        flex-basis: 100%;
        justify-content: space-between;
    }
    .navbar-item-m{
        display: flex;
        flex-direction: column;
        line-height: 2;
    }
    #mobile-search{
        display: none;
        position:absolute;
        top:100%;
        left:80%;
        transition: all 0.7s;
    }
    .dropdown-genre{
        transform: translateX(70px) translateY(-30px);
    }
}