main{
    padding-top: 100px;
    padding-bottom: 50px;
}
h1,.h1{
    color:#ECE3CE;
    /* text-shadow: 0 0 10px rgba(0,0,0,0.9); */
    font-size: 1.3rem;
}

.upload-section{
    padding:0 10% 0;
    display: flex;
    justify-content: space-between;
}

.upload-section .col-8{
    width:100%;
    display: flex;
    flex-direction: column;
    /* border:5px solid #ECE3CE; */
    box-shadow:inset 0 0 10px rgba(0,0,0,0.9);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    background-color: #4F6F52;
}
.upload-section .col-4{
    width: 40%;
    padding: 3rem;
}

.col-8 .col-child{
   display: flex;
   flex-direction: column;
   /* padding: 2rem; */
}
.flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* //search movie by id  */

.search-upload{
    display: flex;
    
}
.search-upload-input{
    padding: 5px;
    line-height: 2;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border:none;
    color:#3A4D39;
    outline: none;
}

.search-upload .btn{
    padding:0 5px;
    border-radius: 1rem;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.search-row{
    margin-top:2%;
    padding: 2rem;
    background-color: #ECE3CE;
    border: 5px solid #3A4D39;
    border-radius: 2rem;
    color:#4F6F52;
}

.file-status{
    margin:2% 0;
    display: flex;
    flex-direction: column;
}

/* //form */
.upload-form{
    margin-top:1rem;
    display: flex;
    flex-direction: row;
}
.form-item{
    display: flex;
    flex-wrap: wrap;
    margin:2% 0;
}
.form-item input[type="text"]{
    margin:auto 2%;
    line-height: 1.5;
    flex:1;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    border-radius: 0.4rem;
    border: none;
    outline:none;
}
.form-item .btn-rev{
    margin:0 1.2%;
}

input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%234F6F52'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #4F6F52;
    content: "Upload File";
  }
  
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }
  
.movie{
    background: #ECE3CE;
    color:#3A4D39;
    padding: 2rem;
    display: flex;
    flex:1;
}
.movie .poster{
    width: 200px;
}
.poster-div{
    border: 5px solid rgba(0,0,0,0.4);
}
.poster-div img{
    height: 100%;
}
.movie .col{
    flex:1;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* justify-content: space-between; */
}
.movie .col-3{
    width: 75%;
    flex:1;
}


@media only screen and (max-width:786px){
    .upload-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    .upload-section .col-4{
        width: auto;
    }
}